## Lorax template to configure Anaconda to:
##  1) Use the repository we embedded in the ISO
##  2) Disable cloud-init (since we don't use it in the Anaconda path)
##     but the package enables itself by default

<%page args='root'/>
mkdir install/ostree
runcmd ostree --repo=${root}/install/ostree init --mode=archive-z2
runcmd ostree remote add ostree-mirror --repo=${root}/install/ostree/ --set=gpg-verify=false http://127.0.0.1:45678
runcmd ostree --repo=${root}/install/ostree/ pull --mirror ostree-mirror euleros-isula-host/2/x86_64/standard

append usr/share/anaconda/interactive-defaults.ks "ostreesetup --nogpg --osname=euleros-isula-host --remote=euleros-isula-host --url=file:///install/ostree --ref=euleros-isula-host/2/x86_64/standard\n"
append usr/share/anaconda/interactive-defaults.ks "services --disabled cloud-init,cloud-config,cloud-final,cloud-init-local\n"
append usr/share/anaconda/interactive-defaults.ks "%post --erroronfail\ncp /etc/skel/.bash* /var/roothome\nfn=/etc/ostree/remotes.d/euleros-isula-host.conf; if test -f "<%text>${fn}</%text>" && grep -q -e '^url=file:///install/ostree' "<%text>${fn}</%text>"; then rm "<%text>${fn}</%text>"; fi\n%end\n"
